@media (min-width: 720px) {
  .container {
    flex-direction: row;
    width: 900px;
  }
  .contend {
    border-radius: 16px 0 0 16px;
  }
  .text {
    font-family: "Inter", sans-serif;
    margin: 40px 20px;
  }

  h2 {
    padding-left: 30px;
    font-size: 3.1rem;
    text-align: start;
  }
  .text-one {
    text-align: start;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .container img {
    width: 50%;
    border-radius: 0 16px 16px 0;
  }
  .textTwo {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .number {
    font-size: 2.1rem;
  }
}
